<div class="container">
<h1 class="cent">New User</h1>
<div style="color: white">
<%= render 'form', user: @user %>
</div>
<br>

<%= link_to 'Back', users_path , class: 'btn btn-primary' %>
</div>
<br><br>