body {
  background-image: url(jj.jpg);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign
{

  width: 50px;
}

.bord
{

  border: 1px solid black;
}

.cent
{

  text-align: center;
}

.flt
{

  float: right;
}

.trans
{

  background: rgba(0,0,0,0.5);
}

.trans2
{

  background: rgba(13, 206, 216, 0.7);
  margin-right: 200px;
  margin-left: 200px;
  border:1px solid #0dced8;
  border-radius: 5%;
  box-shadow: 5px 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.backg
{
  margin-right: 200px;
  margin-left: 200px;
  
}

.head
{

  width: 140px;
  height: 140px;
}

.pad
{

  padding: 20px;
}

.rds
{

  border-radius: 50%;
}


.btn{
border-radius: 0;
}
.btn-md {
border-width: 0;
outline: none;
border-radius: 0;
box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
cursor: pointer;
} 
.btn{
border-radius: 0;
}
.btn-md {
border-width: 0;
outline: none;
border-radius: 0;
box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
cursor: pointer;
height: 180px;
width: 180px;
} 