<div class="container">
<h1 class="cent">New Product</h1>
<div style="color: white">
<%= render 'form', product: @product %>

<%= link_to 'Back', products_path, class: 'btn btn-primary' %>
 </div>
</div>
