<div class="container">
<h1 align="center">Editing Penjualan</h1>
<div style="color: white">
<%= render 'form', sale: @sale %>
<br>
<%= link_to 'Show', @sale, class: 'btn btn-primary' %> |
<%= link_to 'Back', sales_path, class: 'btn btn-primary' %>
 </div>
 </div>