<div class="container">
<h1 class="cent">Penjualan Baru</h1>
<div style="color: white">
<%= render 'form', sale: @sale %>
</div>
<br>
<%= link_to 'Back', sales_path, class: 'btn btn-primary' %>
</div>
</br>